<!DOCTYPE html>
<html lang="en-US">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title></title>
   <link rel="stylesheet" href="css/components.css">
   <link rel="stylesheet" href="css/icons.css">
   <link rel="stylesheet" href="css/responsee.css">
   <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
   <link rel="stylesheet" href="owl-carousel/owl.theme.css">
   <link rel="stylesheet" href="css/template-style.css">
   <link rel="stylesheet" href="css/header.css">
   <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet'
      type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext'
      rel='stylesheet' type='text/css'>
   <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
   <script type="text/javascript" src="js/jquery-ui.min.js"></script>
</head>

<body class="size-1140">
   <!-- HEADER -->
   <!-- TOP HEADER -->
   <header role="banner" class="position-absolute">
      <div class="top-banner">
         <ul class="ul">
            <li class="li"><a href="/" class="list-element"><img src="img/phone-call.png" alt="" class="header-icons">
                  Nro telefono</a></li>
            <li class="li"><a href="/" class="list-element"><img src="img/whatsapp.png" alt="" class="header-icons">
                  wpp</a></li>
            <li class="li"><a href="/" class="list-element"><img src="img/maps-and-flags.png" alt=""
                     class="header-icons"> direccion</a></li>
            <li class="li"><a href="/" class="list-element"><img src="img/mail.png" alt="" class="header-icons"> mail
                  ventas</a></li>
         </ul>
      </div>
      <!-- Top Navigation -->
      <nav class="background-transparent background-transparent-hightlight full-width sticky nav-container">
         <div class="s-12 l-2">
            <a href="/" class="logo">
               <!-- Logo White Version -->
               <img class="logo-white" src="img/engracor/Logo-Engracor-para-gorra.png"
                  alt="C:\Users\PC\Desktop\Engracor\src\public\img\engracor\Logo-Engracor-gris.png">
               <!-- Logo Dark Version -->
               <img class="logo-dark" src="img/engracor/Logo-Engracor-PNG-03.png" alt="">
            </a>
         </div>
         <div class="top-nav s-12 l-10 header-content">
            <ul class="right chevron">
               <li><a href="/">Inicio</a></li>
               <li><a href="/products">Productos</a></li>
               <li><a>Servicios</a>
                  <ul>
                     <li><a>Service 1</a>
                        <ul>
                           <li><a>Service 1 A</a></li>
                           <li><a>Service 1 B</a></li>
                        </ul>
                     </li>
                     <li><a>Service 2</a></li>
                  </ul>
               </li>
               <li><a href="/about">Sobre nosotros</a></li>
               <li><a href="#">Cotizaciones</a></li>
               <li><a href="/contact">Contacto</a></li>
               <li>
                  <a href="#">
                     <img src="img/cart-trolley-ui-5-svgrepo-com(black).svg" alt="" class="shop-cart-icon logo-dark">
                     <img src="img/cart-trolley-ui-5-svgrepo-com(white).svg" alt="" class="shop-cart-icon logo-white">
                  </a>
               </li>
            </ul>
         </div>
      </nav>
   </header>

</body>

</html>